$primary: rgb(236, 175, 78);
$secondary: rgb(50, 58, 58);
$tertiary: rgb(251, 104, 62);
$pure: #fff;
$light: rgb(245, 227, 215);
$text: #a9a6a5;
$dark: #000;
$heaven: #5a5757;
$textlight: rgb(197, 188, 183);
